<po-divider p-label="Assinatura"></po-divider>
<div class="po-row">

    <po-info 
    class="po-xl-2 po-lg-2 po-md-2 po-sm-2" 
    p-label="Código Ativo"
    [p-value]="detailativo?.papel"
    > </po-info>

    <po-info
    class="po-xl-2 po-lg-2 po-sm-2"   
    p-label="Data"
    [p-value]="detailativo?.dataAssinatura"
    > </po-info>

    <po-dynamic-form #formSwitches2
    class="po-xl-5 po-lg-5 po-sm-5" 
    [p-fields]="switches2"
    [p-value]="detailativo">
    </po-dynamic-form>
    
    <po-button
    class = "po-mt-3 po-mr-1" 
    p-icon="po-icon-change"
    p-label="Atualizar"
    p-type="primary"
    (p-click)="attClick()"
    [p-disabled]="activateAtt()"
    >
    </po-button>

    <po-button
    class = "po-mt-3" 
    p-label="Cancelar"
    (p-click)="cancelClick()"
    [p-disabled]="(role == 'reader')"
    >
    </po-button>
        
</div>

<po-divider p-label="Impacto MDP"></po-divider>
<po-dynamic-form #formSwitches
[p-fields]="switches"
[p-value]="detailativo">
</po-dynamic-form>